{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'humorously/style.css' %}">
<ul class="banner">
  <li class="banner-item">
    <a href="{% url 'humorously:index' %}">Index</a>
  </li>
  <li class="banner-item">
    <a href="{% url 'humorously:jokesters'%}">Jokesters</a>
  </li>
</ul>
{% if latest_jokester_list %}
  <h1>The Jokester List</h1>
    <ul>
    {% for jokester in latest_jokester_list %}
        <li>{{ jokester }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No jokesters are available.</p>
{% endif %}
