{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Humorous.ly</title>
        <!-- Base CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'humorously/style.css' %}">
    </head>

    <body>
      <nav>
        <ul class="banner">
          <li class="banner-item">
            <a href="{% url 'humorously:index' %}">Home</a>
          </li>
          <li class="banner-item">
            <a href="{% url 'humorously:jokesters' %}">Jokesters</a>
          </li>
          {% comment %}
          <li class="banner-item">
            <a href="{% url 'humorously:about' %}">About</a>
          </li>

          <li class="banner-item">
            <a href="{% url 'humorously:search' %}">Search</a>
          </li>
          <li class="banner-item">
            <a href="{% url 'humorously:jokes' %}">Jokes</a>
          </li>
          <li class="banner-item">
            <a href="{% url 'humorously:createjoke' %}">Create Joke</a>
          </li>
          <li class="banner-item">
            <a href="{% url 'humorously:createreview' %}">Create Review</a>
          </li>
          <li class="banner-item">
            <a href="{% url 'humorously:profile' %}">User Profile</a>
          </li>
          {% endcomment %}
        </ul>
      </nav>
      
      {% block body %}

      {% endblock %}
    </body>

</html>
