h1 {
  color:navy
}

.banner{
  background-color: #333333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.banner-item{
  float: left;
}

.banner-item a{
  display: block;
  text-align: center;
  width: 200px;
  height: 50px;
  color: #888888;
  text-decoration: none;
}

.banner-item a:hover{
  background-color: #555555;
  color: white;
}

.box {
  height:250px;
  width:250px;
  border:solid 1px #555555;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-flex-start;
  flex-direction: row;
}
